.vscode*
.vs
*.swp
dist/*
**/venv
apis/spark/.gradle/*
apis/spark/.project
apis/spark/build/*
apis/spark/out/*
apis/spark/spark.iml
apis/java/.gradle/*
apis/java/.project
apis/java/build/*
apis/java/out/*
core/bin/*
core/obj/*
core/lib/*
core/include/temp
core/src/temp
test/soco
test/inputs/arrays/read_compatibility_test*
Doxyfile.log
doxyfile.inc
doxygen/html/
doxygen/latex/
examples/bin/*
examples/obj/*
scripts/deps-staging/*
.idea
*temp*
*.DS_Store
doc/venv
doc/source/__pycache__
doc/source/_build
doc/source/_sidebar.rst.inc
examples/cmake_project/build
**/site-packages/*
**/bin/*
**/share/*
**/build/*
**/cmake-build-release/*
**/cmake-build-debug/*
**/__pycache__
*.so
*.dylib

# Python distribution / packaging
.eggs
*.egg-info
apis/python/src/tiledbsoma/_version.py
apis/python/src/tiledbsoma/libtiledb.*
apis/python/src/tiledbsoma/libtiledbsoma.so
apis/python/src/tiledbsoma/libtiledbsoma.dylib
apis/python/src/tiledbsoma/pytiledbsoma.*

/.quarto/

/NOTES/

## R package tarballs
apis/r/tiledbsoma_*tar.gz
apis/r/local/*
apis/r/src/*.o
apis/r/src/*.so
apis/r/src/include/*
apis/r/src/lib/*
apis/r/src/libtiledbsoma/*
apis/r/src/Makevars
apis/r/src/cmake_log.txt
apis/r/.editorconfig
!apis/r/man/roxygen/*

# Coverage/codecov
.coverage
coverage.xml
coverage.info

# Catch-all wildcard
local-*
