exclude: ^doc/source/
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
    - id: clang-format
      types_or: [c++, c]
      files: 'libtiledbsoma/.*|apis/python/src/.*|apis/r/src/.*'
      exclude: 'libtiledbsoma/src/external/.*|apis/r/src/RcppExports.cpp'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    - id: ruff-check
      types_or: [ python, pyi ]
      args: ["--config=apis/python/pyproject.toml"]
    - id: ruff-format
      types_or: [ python, pyi ]
      args: ["--config=apis/python/pyproject.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    - id: mypy
      additional_dependencies:
        # Pandas types changed between 1.x and 2.x. Our setup.py permits both, but for type-checking purposes we use the
        # Pandas 2.x types (e.g. `pd.Series[Any]`). See `_types.py` or https://github.com/single-cell-data/TileDB-SOMA/issues/2839
        # for more info.
        - "pandas-stubs>=2"
        - "somacore==1.0.29"
        - types-setuptools
      args: ["--config-file=apis/python/pyproject.toml", "apis/python/src", "apis/python/devtools"]
      pass_filenames: false
  - repo: https://github.com/hukkin/mdformat
    rev: 0.7.22  # Use the ref you want to point at
    hooks:
    - id: mdformat
      files: .*\.md|^apis/r/vignettes/.*\.Rmd
      types: [file, text]
      exclude: ^.github/
      additional_dependencies:
        - "mdformat-frontmatter"
