exclude: ^doc/source/
repos:
  - repo: https://github.com/ambv/black
    rev: 22.12.0
    hooks:
    - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.226
    hooks:
    - id: ruff
      args: ["--force-exclude", "--config=apis/python/pyproject.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
    - id: mypy
      additional_dependencies:
        - "pandas-stubs"
        - "somacore==0.0.0a12"
        - "types-setuptools"
      args: ["--config-file=apis/python/pyproject.toml", "apis/python/src", "apis/python/devtools"]
      pass_filenames: false
