exclude: ^doc/source/
repos:
  - repo: https://github.com/psf/black
    rev: "24.4.2"
    hooks:
    - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
    - id: ruff
      args: ["--config=apis/python/pyproject.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
    - id: mypy
      additional_dependencies:
        # Pandas types changed between 1.x and 2.x. Our setup.py permits both, but for type-checking purposes we use the
        # Pandas 2.x types (e.g. `pd.Series[Any]`). See `_types.py` or https://github.com/single-cell-data/TileDB-SOMA/issues/2839
        # for more info.
        - "pandas-stubs>=2"
        - "somacore @ git+https://github.com/single-cell-data/SOMA.git@a365904"   # DO NOT MERGE TO MAIN
        - types-setuptools
      args: ["--config-file=apis/python/pyproject.toml", "apis/python/src", "apis/python/devtools"]
      pass_filenames: false
