[build-system]
requires = [
    "pybind11[global]>=2.10.0",
    "setuptools>=70.1",  # `setuptools.command.bdist_wheel`
    "cmake>=3.21",
]
build-backend = "setuptools.build_meta"

[tool.mypy]
show_error_codes = true
ignore_missing_imports = true
warn_unreachable = true
strict = true
python_version = 3.9

[[tool.mypy.overrides]]
module = "tiledbsoma._query_condition"
ignore_errors = true

[tool.ruff]
lint.ignore = ["E501"]  # line too long
lint.extend-select = ["I001"]  # unsorted-imports
fix = true
exclude = ["*.cc"]
target-version = "py39"

[tool.ruff.lint.isort]
# HACK: tiledb needs to come after tiledbsoma: https://github.com/single-cell-data/TileDB-SOMA/issues/2293
section-order = ["future", "standard-library", "third-party", "tiledbsoma", "tiledb", "first-party", "local-folder"]
no-lines-before = ["tiledb"]

[tool.ruff.lint.isort.sections]
"tiledbsoma" = ["tiledbsoma"]
"tiledb" = ["tiledb"]


[tool.pytest.ini_options]
filterwarnings = ["ignore:Support for spatial types is experimental"]
markers = ["slow: mark test as slow"]
