[build-system]
requires = [
    "pybind11[global]>=2.10.0",
    "setuptools>=65.5.1",
    "wheel>=0.37.1",
    "cmake>=3.21",
]
build-backend = "setuptools.build_meta"

[tool.mypy]
show_error_codes = true
ignore_missing_imports = true
warn_unreachable = true
strict = true

[[tool.mypy.overrides]]
module = "tiledbsoma.query_condition"
ignore_errors = true

[tool.ruff]
ignore = ["E501"]
extend-select = ["I001"]
fix = true

[tool.ruff.isort]
known-first-party = ["tiledbsoma"]
