name: Reusable C++ Build (Unified)
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      # This new input controls the logic: 'release' or 'asan'
      build_type:
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout TileDB-SOMA
        uses: actions/checkout@v4

      - name: Build and install libtiledbsoma
        run: |
          ./scripts/bld --no-tiledb-deprecated=true --werror=true --build ${{ inputs.build_type }}

      - name: Upload C++ build artifact
        uses: actions/upload-artifact@v4
        with:
          # The name now includes the build type
          name: cpp-build-${{ inputs.build_type }}-${{ inputs.os }}
          path: |
            dist/
            build/
