name: TileDB-SOMA C++ CI (Pull-request)

on:
  pull_request:
    paths:
      - "libtiledbsoma/**"
      - ".github/workflows/ci-pr-cpp.yml"
      - ".github/workflows/test-cpp.yml"
      - ".github/workflows/build-cpp.yml"
  workflow_dispatch:

jobs:

  build-cpp-release:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
    uses: ./.github/workflows/build-cpp.yml
    with:
      os: ${{ matrix.os }}
      build_type: 'Release'

  build-cpp-asan:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
    uses: ./.github/workflows/build-cpp.yml
    with:
      os: ${{ matrix.os }}
      build_type: 'ASAN'

  cpp-tests:
    needs: [build-cpp-release, build-cpp-asan]
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
    uses: ./.github/workflows/test-cpp.yml
    with:
      os: ${{ matrix.os }}
      run_asan: ${{ matrix.os == 'ubuntu-latest' }}
      report_codecov: ${{ matrix.os == 'ubuntu-latest' }}
    secrets: inherit
