name: libTileDB-SOMA CodeCov

on:
  pull_request:
    paths-ignore:
      - "apis/python/**"
      - "apis/r/**"
      - "docker/**"
      - ".pre-commit-config.yaml"
      - ".github/workflows/**"
      - "!.github/workflows/libtiledb-ci.yml"
  push:
    branches:
      - main
      - 'release-*'
  workflow_dispatch:

jobs:
  codecov:
    runs-on: macos-latest
    steps:
    - name: Checkout TileDB-SOMA
      uses: actions/checkout@v4

    - name: Print current commit
      run: git log -1 --oneline

    - name: Build libTileDB-SOMA
      run: TILEDBSOMA_COVERAGE="--coverage" ./scripts/bld --no-tiledb-deprecated=true --werror=true

    - name: Run libTileDB-SOMA unittests
      run: ctest --test-dir build/libtiledbsoma -C Release --verbose --rerun-failed --output-on-failure

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        flags: libtiledbsoma
        gcov_include: $(find libtiledbsoma -name "*.h" -or -name "*.cc")
        token: ${{ secrets.CODECOV_TOKEN }}
