name: TileDB-SOMA Python CI (Minimal)

# This workflow calls ./python-ci-single.yml on a limited subset of the
# {os} x {python version} matrix. It runs for all branches, in contrast to
# ./python-ci-full.yml, which exhausts the matrix but only for main & releases,
# since that's CI-resource-intensive.
#
# To test the full matrix on a working branch, invoke ./python-ci-full.yml from
#   https://github.com/single-cell-data/TileDB-SOMA/actions/workflows/python-ci-full.yml
on:
  pull_request:
    branches:
      - main
      - 'release-*'
    paths:
      - '**'
      - '!**.md'
      - '!apis/r/**'
      - '!docker/**'
      - '!docs/**'
      - '!.github/**'
      - '.github/workflows/python-ci-minimal.yml'
      - '.github/workflows/python-ci-single.yml'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: true

      matrix:
        os: [macos-latest]  # [ubuntu-24.04, macos-latest]
        python-version: ['3.9', '3.12', '3.13']
        include:
          - os: ubuntu-24.04
            cc: gcc-13
            cxx: g++-13
          - os: macos-latest
            cc: clang
            cxx: clang++
    uses: ./.github/workflows/python-ci-single.yml
    with:
      os: ${{ matrix.os }}
      python_version: ${{ matrix.python-version }}
      cc: ${{ matrix.cc }}
      cxx: ${{ matrix.cxx }}
      report_codecov: ${{ matrix.python-version == '3.12' }}
      run_lint: ${{ matrix.python-version == '3.12' }}
    secrets: inherit
