name: TileDB-SOMA Python CI (Minimal)

# This workflow calls ./python-ci-single.yml on a limited subset of the
# {os} x {python version} matrix. It runs for all branches, in contrast to
# ./python-ci-full.yml, which exhausts the matrix but only for main & releases,
# since that's CI-resource-intensive.
#
# To test the full matrix on a working branch, invoke ./python-ci-full.yml from
#   https://github.com/single-cell-data/TileDB-SOMA/actions/workflows/python-ci-full.yml
on:
  push:
    paths-ignore:
      - 'apis/r/**'

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04, macos-12]
        python-version: ['3.10', '3.7']
        include:
          - runs-on: ubuntu-22.04
            cc: gcc-11
            cxx: g++-11
          - runs-on: macos-12
            cc: clang
            cxx: clang++
    uses: ./.github/workflows/python-ci-single.yml
    with:
      os: ${{ matrix.os }}
      python_version: ${{ matrix.python-version }}
      cc: ${{ matrix.cc }}
      cxx: ${{ matrix.cxx }}
      report_codecov: ${{ matrix.python-version == '3.10' }}
      run_lint: ${{ matrix.python-version == '3.10' }}
    secrets: inherit
