name: TileDB-SOMA Python CI (Full)

# This workflow calls ./python-ci-single.yml on the full {os} x {python version}
# matrix. Since that's CI-resource-intensive, it runs only for main branch and
# releases.
on:
  push:
    branches:
      - main
      - 'release-**'
  release:
    types: [published]
  # You can also invoke this workflow manually from
  #   https://github.com/single-cell-data/TileDB-SOMA/actions/workflows/python-ci-full.yml
  # to test a working branch on the full matrix.
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # TODO: restore Windows build once we have C++/libtiledbsoma integration supported there
        os: [ubuntu-22.04, macos-12]
        # os: [ubuntu-22.04, macos-12, windows-2019]
        # 3.7.16 workaround: https://github.com/actions/setup-python/issues/682
        python-version: ['3.7.16', '3.8', '3.9', '3.10', '3.11']
        include:
          - runs-on: ubuntu-22.04
            cc: gcc-11
            cxx: g++-11
          - runs-on: macos-12
            cc: clang
            cxx: clang++
    uses: ./.github/workflows/python-ci-single.yml
    with:
      os: ${{ matrix.os }}
      python_version: ${{ matrix.python-version }}
      cc: ${{ matrix.cc }}
      cxx: ${{ matrix.cxx }}
      is_mac: ${{ contains(matrix.os, 'macos') }}
      report_codecov: ${{ matrix.os == 'ubuntu-22.04' && matrix.python-version == '3.9' }}
      run_lint: ${{ matrix.os == 'ubuntu-22.04' && matrix.python-version == '3.9' }}
    secrets: inherit


