name: TileDB-SOMA Python Linting

on:
  pull_request:
    paths-ignore:
      - 'apis/r/**'
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4

      - name: Run pre-commit hooks on all files
        run: |
          python -m pip install pre-commit
          pre-commit run -a -v

      - name: Check type annotations with mypy
        working-directory: apis/python
        run: |
          # mypy 0.990 has false positives on `import anndata as ad` and `Module has no attribute
          # "read_h5ad"` etc :(
          # python -m pip install mypy types-setuptools typeguard
          python -m pip install mypy==0.982 types-setuptools 'attrs>=22.1'
          python -m mypy .

      - name: Check C++ Format  
        run: |  
          ./scripts/run-clang-format.sh . clang-format 0 \  
          $(find libtiledbsoma -name "*.cc" -or -name "*.h")    
