name: TileDB-SOMA R CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ci:
    strategy:
      matrix:
        include:
          #- {os: macOS-latest}
          - {os: ubuntu-latest}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        run: cd apis/r && tools/r-ci.sh bootstrap

      - name: Dependencies
        run: cd apis/r && tools/r-ci.sh install_all

      - name: Binary Dependencies
        run: cd apis/r && tools/r-ci.sh install_aptget cmake
        
      - name: MkVars
        run: mkdir ~/.R && echo "CXX17FLAGS=-Wno-deprecated-declarations -Wno-deprecated" > ~/.R/Makevars

      - name: Copy libtiledbsoma
        ## we build 'as in an R package' with all sources within apis/r/
        run: cd apis/r && ./copy_source.sh
        
      - name: Test
        run: cd apis/r && tools/r-ci.sh run_tests

      - name: Coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: cd apis/r && tools/r-ci.sh coverage
