name: TileDB-SOMA R CI

on:
  pull_request:
    paths-ignore:
      - "apis/python/**"
      - ".pre-commit-config.yaml"
  push:
    branches:
      - main
      - 'release-*'

env:
  COVERAGE_FLAGS: "r"
  COVERAGE_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  ci:
    strategy:
      matrix:
        include:
          - name: linux
            os: ubuntu-latest
            covr: 'no'
          - name: macos
            os: macOS-latest
            covr: 'no'
          - name: coverage
            os: ubuntu-latest
            covr: 'yes'

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        run: cd apis/r && tools/r-ci.sh bootstrap

      - name: Dependencies
        run: cd apis/r && tools/r-ci.sh install_all

      - name: CMake
        uses: lukka/get-cmake@latest

      #- name: MkVars
      #  run: mkdir ~/.R && echo "CXX17FLAGS=-Wno-deprecated-declarations -Wno-deprecated" > ~/.R/Makevars

      #- name: Build and install libtiledbsoma
      #  run: sudo scripts/bld --prefix=/usr/local

      #- name: Call ldconfig
      #  if: ${{ matrix.os == 'ubuntu-latest' }}
      #  run: sudo ldconfig

      - name: Test
        if: ${{ matrix.covr == 'no' }}
        run: cd apis/r && tools/r-ci.sh run_tests

      - name: View Install Output
        run: cat $HOME/work/TileDB-SOMA/TileDB-SOMA/apis/r/tiledbsoma.Rcheck/00install.out
        if: failure()

      - name: Coverage
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.covr == 'yes' }}
        run: cd apis/r && tools/r-ci.sh coverage
