name: TileDB-SOMA R CI

on:
  pull_request:
    paths-ignore:
      - "apis/python/**"
      - ".pre-commit-config.yaml"
  push:
    branches:
      - main
      - 'release-*'
  workflow_dispatch:

env:
  COVERAGE_FLAGS: "r"
  COVERAGE_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  _R_CHECK_TESTS_NLINES_: 0
  CATCHSEGV: "TRUE"
  
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux
            os: ubuntu-latest
            covr: 'no'
          - name: macos
            os: macOS-latest
            covr: 'no'
          - name: coverage
            os: ubuntu-latest
            covr: 'yes'

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Show matrix OS
        run: echo "matrix.os:" ${{ matrix.os }}

      - name: Linux CPU info
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: cat /proc/cpuinfo

      - name: MacOS CPU info
        if: ${{ matrix.os == 'macOS-latest' }}
        run: sysctl -a | grep cpu

      - name: Bootstrap
        run: cd apis/r && tools/r-ci.sh bootstrap

      - name: Install BioConductor package SingleCellExperiment
        run: cd apis/r && tools/r-ci.sh install_bioc SingleCellExperiment

      - name: Install 0.23 build of tiledb-r with core 2.19
        run: |
          cd apis/r
          wget https://github.com/TileDB-Inc/TileDB-R/archive/refs/tags/0.23.0.tar.gz
          Rscript -e 'remotes::install_deps("0.23.0.tar.gz")'
          R CMD INSTALL 0.23.0.tar.gz    # as 0.23.0 is needed by TileDB-SOMA 1.7

      - name: Install r-universe build of SeuratObject (macOS)
        if: ${{ matrix.os == 'macOS-latest' }}
        run: cd apis/r && Rscript -e "install.packages('SeuratObject', repos = c('https://mojaveazure.r-universe.dev', 'https://cloud.r-project.org'))"

      - name: Install r-universe build of SeuratObject (linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: cd apis/r && Rscript -e "options(bspm.version.check=TRUE); install.packages('SeuratObject', repos = c('https://mojaveazure.r-universe.dev/bin/linux/jammy/4.3/', 'https://cloud.r-project.org'))"

      - name: Dependencies
        run: cd apis/r && tools/r-ci.sh install_all

      - name: CMake
        uses: lukka/get-cmake@latest

      #- name: MkVars
      #  run: mkdir ~/.R && echo "CXX17FLAGS=-Wno-deprecated-declarations -Wno-deprecated" > ~/.R/Makevars

      #- name: Build and install libtiledbsoma
      #  run: sudo scripts/bld --prefix=/usr/local

      #- name: Call ldconfig
      #  if: ${{ matrix.os == 'ubuntu-latest' }}
      #  run: sudo ldconfig
      #
      - name: Update Packages
        run: Rscript -e 'update.packages(ask=FALSE)'

      - name: Re-install 0.23 build of tiledb-r with core 2.19
        run: |
          cd apis/r
          wget https://github.com/TileDB-Inc/TileDB-R/archive/refs/tags/0.23.0.tar.gz
          Rscript -e 'remotes::install_deps("0.23.0.tar.gz")'
          R CMD INSTALL 0.23.0.tar.gz    # as 0.23.0 is needed by TileDB-SOMA 1.7

      # - name: Build Package
      #   run: cd apis/r && R CMD build --no-build-vignettes --no-manual .

      # - name: Install Package
      #   run: cd apis/r && R CMD INSTALL $(ls -1tr *.tar.gz | tail -1)

      # - name: Diagnostics
      #   run: Rscript -e 'print(Sys.info())'

      # - name: Downgrade TileDB-R if needed
      #   run: cd apis/r && Rscript tools/controlled_downgrade.R
        
      - name: Test
        if: ${{ matrix.covr == 'no' }}
        run: |
          cd apis/r && tools/r-ci.sh run_tests
          Rscript -e 'tiledbsoma::show_package_versions()'

      - name: Coverage
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.covr == 'yes' }}
        run: apis/r/tools/r-ci.sh coverage

      - name: View Logs
        run: apis/r/tools/r-ci.sh dump_logs
        if: failure()

