name: TileDB-SOMA R-Python interop testing

on:
  pull_request:
    # TODO: leave this enabled for pre-merge signal for now. At some point we may want to go back to
    # only having this signal post-merge.
    #paths:
    #  - "apis/python/**"
    #  - "apis/r/**"
    #  - "apis/system/**"
  push:
    branches:
      - main
      - 'release-*'
  workflow_dispatch:

jobs:
  ci:
    strategy:
      matrix:
        include:
          - { os: ubuntu-latest }

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout TileDB-SOMA
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # ensure we get all tags to inform package version determination

      - name: Bootstrap
        run: cd apis/r && tools/r-ci.sh bootstrap

      - name: Dependencies
        run: cd apis/r && tools/r-ci.sh install_all

      - name: CMake
        uses: lukka/get-cmake@latest

      - name: MkVars
        run: mkdir ~/.R && echo "CXX17FLAGS=-Wno-deprecated-declarations -Wno-deprecated" > ~/.R/Makevars

      - name: Install 0.24 build of tiledb-r with core 2.20
        run: |
          cd apis/r
          wget https://github.com/TileDB-Inc/TileDB-R/archive/refs/tags/0.24.0.tar.gz
          Rscript -e 'remotes::install_deps("0.24.0.tar.gz")'
          R CMD INSTALL 0.24.0.tar.gz    # as 0.24.0 is needed by TileDB-SOMA 1.8

      - name: Install r-universe build of tiledb-r (macOS)
        if: ${{ matrix.os == 'macOS-latest' }}
        run: cd apis/r && Rscript -e "install.packages('tiledb', repos = c('https://eddelbuettel.r-universe.dev', 'https://cloud.r-project.org'))"

      - name: Install r-universe build of tiledb-r (linux)
        if: ${{ matrix.os != 'macOS-latest' }}
        run: cd apis/r && Rscript -e "options(bspm.version.check=TRUE); install.packages('tiledb', repos = c('https://eddelbuettel.r-universe.dev/bin/linux/jammy/4.3/', 'https://cloud.r-project.org'))"

      - name: Build and install libtiledbsoma
        run: sudo scripts/bld --prefix=/usr/local && sudo ldconfig

      - name: Install R-tiledbsoma
        run: |
          cd apis/r
          R CMD build --no-build-vignettes --no-manual .
          FILE=$(ls -1t *.tar.gz | head -n 1)
          R CMD INSTALL $FILE

      - name: Show R package versions
        run: Rscript -e 'tiledbsoma::show_package_versions()'

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: ./apis/python/setup.py

      - name: Install testing prereqs
        run: python -m pip -v install -U pip pytest-cov 'typeguard>=4' types-setuptools

      - name: Install tiledbsoma
        run: python -m pip -v install -e apis/python

      - name: Show package versions
        run: |
          python -c 'import tiledbsoma; tiledbsoma.show_package_versions()'
          echo
          python scripts/show-versions.py
          echo
          Rscript -e 'tiledbsoma::show_package_versions()'

      - name: Update Packages
        run: Rscript -e 'update.packages(ask=FALSE)'

      - name: Re-install 0.24 build of tiledb-r with core 2.20
        run: |
          cd apis/r
          wget https://github.com/TileDB-Inc/TileDB-R/archive/refs/tags/0.24.0.tar.gz
          Rscript -e 'remotes::install_deps("0.24.0.tar.gz")'
          R CMD INSTALL 0.24.0.tar.gz    # as 0.24.0 is needed by SOMA 1.8

      - name: Show package versions
        run: |
          python -c 'import tiledbsoma; tiledbsoma.show_package_versions()'
          echo
          python scripts/show-versions.py
          echo
          Rscript -e 'tiledbsoma::show_package_versions()'

      - name: Interop Tests
        run: python -m pytest apis/system/tests/
