name: TileDB-SOMA R-Python interop testing

on:
  pull_request:
    # TODO: leave this enabled for pre-merge signal for now. At some point we may want to go back to
    # only having this signal post-merge.
    #paths:
    #  - "apis/python/**"
    #  - "apis/r/**"
    #  - "apis/system/**"
  push:
    branches:
      - main
      - 'release-*'
  workflow_dispatch:

jobs:
  ci:
    strategy:
      matrix:
        include:
          - { os: ubuntu-latest }

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout TileDB-SOMA
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # ensure we get all tags to inform package version determination

      - name: Bootstrap
        run: cd apis/r && tools/r-ci.sh bootstrap

      - name: Dependencies
        run: cd apis/r && tools/r-ci.sh install_all

      - name: Show matrix OS
        run: echo "matrix.os:" ${{ matrix.os }}

      - name: Linux CPU info
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: cat /proc/cpuinfo

      - name: MacOS CPU info
        if: ${{ matrix.os == 'macOS-latest' }}
        run: sysctl -a | grep cpu

      # Please see https://github.com/single-cell-data/TileDB-SOMA/wiki/Branches-and-releases which
      # is crucial for anyone doing releases of TileDB-SOMA.
      #
      # As documented there, we have a cadence for updating tiledb-inc.r-universe.dev.
      #
      # Please also see https://github.com/single-cell-data/TileDB-SOMA/issues/2447 regarding R CI YAML.
      #
      # Please also see https://github.com/single-cell-data/TileDB-SOMA/issues/2406 regarding
      # our upcoming elimination of TileDB-SOMA's dependency on TileDB-R entirely.
      #
      # Do not remove these comments until such time as we have eliminated our dependency on
      # the TileDB-R package.

      # -- Linux case of refining TileDB-R and TileDB-SOMA interdependence
      # We uninstall the bspm-installed tiledb which came from CRAN and is 'too new' (and as bspm /
      # r2u give us system binaries we use apt to uninstall) 
      # We then take advantage of the Ubuntu binary at the r-universe which requires use of a
      # different repos path (as documented for r-universe) 
      - name: Install matching r-universe build of tiledb-r (Linux)
        if: ${{ matrix.os != 'macOS-latest' }}
        run: |
          sudo apt purge r-cran-tiledb            
          Rscript -e 'bspm::disable(); install.packages("tiledb", repos="https://tiledb-inc.r-universe.dev/bin/linux/jammy/4.3")'

      # -- macOS case of refining TileDB-R and TileDB-SOMA interdependence
      # We uninstall the tiledb which came from CRAN 
      # We then install it from the r-universe containing the matching build
      - name: Install matching r-universe build of tiledb-r (macOS)
        if: ${{ matrix.os == 'macOS-latest' }}
        run: Rscript -e 'remove.packages("tiledb"); install.packages("tiledb", repos="https://tiledb-inc.r-universe.dev")'

      - name: Build and install libtiledbsoma
        run: sudo scripts/bld --prefix=/usr/local && sudo ldconfig

      - name: Install R-tiledbsoma
        run: |
          cd apis/r
          R CMD build --no-build-vignettes --no-manual .
          FILE=$(ls -1t *.tar.gz | head -n 1)
          R CMD INSTALL $FILE

      - name: Show R package versions
        run: Rscript -e 'tiledbsoma::show_package_versions()'

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: ./apis/python/setup.py

      - name: Install tiledbsoma
        run: python -m pip -v install -e apis/python[dev]

      - name: Show package versions
        run: |
          python -c 'import tiledbsoma; tiledbsoma.show_package_versions()'
          echo
          python scripts/show-versions.py
          echo
          Rscript -e 'tiledbsoma::show_package_versions()'

      - name: Update Packages
        run: Rscript -e 'update.packages(ask=FALSE)'

      # NOT SURE THIS IS CORRECT YET -- LOOKING FOR GREEN CI
      #- name: Re-install 0.25 build of tiledb-r with core 2.21
      #  run: |
      #    cd apis/r
      #    wget https://github.com/TileDB-Inc/TileDB-R/archive/refs/tags/0.25.0.tar.gz
      #    Rscript -e 'remotes::install_deps("0.25.0.tar.gz")'
      #    R CMD INSTALL 0.25.0.tar.gz    # as 0.25.0 is needed by SOMA 1.9

      - name: Show package versions
        run: |
          python -c 'import tiledbsoma; tiledbsoma.show_package_versions()'
          echo
          python scripts/show-versions.py
          echo
          Rscript -e 'tiledbsoma::show_package_versions()'

      - name: Interop Tests
        run: python -m pytest apis/system/tests/
