# Reusable workflow that runs C++ tests.
# About reusable workflows: https://docs.github.com/en/actions/using-workflows/reusing-workflows#calling-a-reusable-workflow

name: TileDB-SOMA C++ CI

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      run_asan:
        required: true
        type: boolean
      report_codecov:
        required: true
        type: boolean

jobs:

  catch2:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Download pre-built C++ library
        uses: actions/download-artifact@v4
        with:
          name: cpp-build-Release-${{ inputs.os }}

      - name: Restore Permissions
        run: chmod +x build/libtiledbsoma/test/*

      - name: Run C++ tests
        run: ctest --test-dir build/libtiledbsoma -C Release --verbose --rerun-failed --output-on-failure

      - name: Upload coverage to Codecov
        if: ${{ inputs.report_codecov }}
        uses: codecov/codecov-action@v5
        with:
          flags: libtiledbsoma
          gcov_include: $(find libtiledbsoma -name "*.h" -or -name "*.cc")
          token: ${{ secrets.CODECOV_TOKEN }}


  asan:
    if: ${{ inputs.run_asan }}
    runs-on: ${{ inputs.os }}
    steps:

      - uses: actions/checkout@v4
      - name: Download C++ ASAN build artifact
        uses: actions/download-artifact@v4
        with:
          name: cpp-build-ASAN-${{ inputs.os }}

      - name: Restore Permissions
        run: chmod +x build/libtiledbsoma/test/*

      - name: Run C++ unittests
        run: ASAN_OPTIONS=detect_leaks=0 ctest --test-dir build/libtiledbsoma -C ASAN --verbose --rerun-failed --output-on-failure
